<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <link rel="stylesheet" href="css/AddMore.css">
</head>
<body>
    <div class="container">
    <h1>Add a new comment</h1>
    
        <div class="flex">
        <form action="/" method="POST" class="form">
            <label for="username">Username : </label><br>
            <input type="text" name="username" id="username" style="border:none;background:transparent;" placeholder="Type Here"> 
            <br><br>
            <label for="comment" > Comment : </label><br>
            <textarea name="text" id="text" cols="30" rows="3" style="border:none;background:transparent;"  placeholder="Type Here"></textarea>
            <br>
            <button type="submit">Create</button>
        </form>
    </div>
    </div>
</body>
</html>